.product{
    display: flex;
    border-bottom: 1px solid rgb(197, 197, 117);
    margin-right: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.purchase-btn{
    background-color: rgb(109, 80, 7);
    color: honeydew;
    border-color: hotpink;
    border-radius: 5px;
    padding-right:30px;
    padding-left:30px;
}