.container{
    text-align: center;
}

.logo img{
    width: 200px;
}
.nav-bar{
    background-color: rgb(28, 26, 26);
   line-height: 40px;
   text-align: left;
   
}
.nav-bar a{
    text-decoration: none;
    color: blanchedalmond;
   margin-right: 10px;
   margin-left: 40px;
   
}
.search-bar{
    background-color: rgb(1, 1, 16);
    line-height: 60px;
}
.search-bar input{
    width: 800px;
   

}
.font-icon-color{
    color:lavender;
    margin-left: 2px;
}
.product-total-color{
    color:chartreuse
    
}